* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

div#app {
    width: 70%;
    max-width: 960px;
    margin: auto;
    background-color: whitesmoke;
}